@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
kbd {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  -webkit-font-smoothing: "antialiased";
}

html {
  font-size: 17px;
}

.nextra-breadcrumb {
  display: none !important;
}
@media (min-width: 368px) {
aside {
  height: calc(100vh - 7rem);
  padding-left:0!important;
  width: 20rem!important;
}

aside > ul {
    padding:0!important;
    width: 20rem!important;
}

aside > ul > li {
    padding:0!important;
}

aside > div > div > div >  ul > li > a {
    padding-top:0.4rem!important;
    padding-bottom:0.4rem!important;
}

aside > div > div > div >  ul > li > a > li {
   gap: 0.1rem!important;
}

.nextra-scrollbar > div > div > ul > li{
    margin-top:0!important;
    margin-bottom:0!important;
}

.nextra-nav-container nav {
  box-sizing: border-box;
  padding: 0 2.5rem;
}

.nextra-sidebar-container {
  box-sizing: border-box;
  padding-left: 1rem;
}

.nextra-toc {
  padding-right: 1rem;
}
}

@media (max-width: 640px) {
    .nextra-nav-container {
      padding: 0!important;
    }
    aside {
      padding-top:0!important;
      width: 100%!important;

    }

}

details > div {
    padding: 1rem;
}
