name: Lint

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install package manager
        run: |
          corepack enable
          corepack prepare --activate
      - run: pnpm i
      - name: Run lints (no build required)
        run: |
          pnpm run lint:formatting
          pnpm run lint:check-frontmatter
          pnpm run lint:check-duplicate-redirects
          pnpm run lint:check-svgs
          pnpm run lint:check-images

  check_quickstarts:
    runs-on: ubuntu-latest
    outputs:
      output: ${{ steps.check.outputs.output }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          git fetch origin ${{ github.base_ref }}
          git checkout ${{ github.base_ref }}
          git checkout ${{ github.sha }}
      - name: Install package manager
        run: |
          corepack enable
          corepack prepare --activate
      - run: pnpm i
      - id: check
        run: |
          OUTPUT=$(pnpm run lint:check-quickstarts | tail -n +4)
          # We need this specific syntax because the output has multiple lines
          echo "output<<EOF" >> $GITHUB_OUTPUT
          echo "$OUTPUT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  share_quickstart_changes:
    needs: check_quickstarts
    if: contains(needs.check_quickstarts.outputs.output, 'Please update the corresponding quickstarts in the Dashboard')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${{ needs.check_quickstarts.outputs.output }}`
            })
