name: Test build script

on:
  push:
    paths:
      - 'scripts/build-docs.ts'
      - 'scripts/build-docs.test.ts'
      - 'scripts/lib/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install package manager
        run: |
          corepack enable
          corepack prepare --activate
      - run: pnpm i
      - run: pnpm run test
