name: Test build script

on:
  push:
    paths:
      - 'scripts/build-docs.ts'
      - 'scripts/build-docs.test.ts'
  pull_request:
    paths:
      - 'scripts/build-docs.ts'
      - 'scripts/build-docs.test.ts'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm i
      - run: npm run test
